.menu {
  display: block;
}

.menu::before,
.menu::after,
.menu > .center {
  content: '';
  display: block;
  height: 4px;
  width: 100%;
  background-color: var(--color-fourth);
  border-radius: 2px;
}

.menu::before,
.menu > .center {
  margin-bottom: 4px;
}